.slick-slide{
    margin: 0px 10px !important;
}

.product-image{
    width: 100%;
    height: auto;
    border-radius:5px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);,*/
}

.product-image:hover{
    cursor:pointer;
}


.slideMargin{
    margin: 0px 10px !important;
}

.slider_Height{
  height: 600px;
  display: block;
  padding-top: 20px;
}

.slick-track {
    z-index: 0 !important;
    position: relative !important;
}

